
.bulk {
    display: flex;
    width: 100%;
}

.bulk-pic img{
    width: 100%;
    height: auto;
}

.bulk-pic, .bulk-info {
    flex-basis: 50%;
    box-sizing: border-box;
}

.bulk-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgba(161, 97, 0, 0.651);
    padding: 0px 60px;
}

.bulk-info p{
    font-size: large;
}
.bulk-info .bulkreq{
    font-size: xx-large;
}

.bulk-info .btn{
    background-color: transparent;
    padding: 10px;
    border: solid 1px white;
    padding: 10px 35px;
}

.bulk-info .btn:hover{
    background-color: white;
    color: black;
}












/* Media query for screens up to 768px width (adjust as needed) */
@media (max-width: 768px) {
    .bulk {
      flex-direction: column; /* Reverse the order of flex items */
    }
  
    .bulk-pic,
    .bulk-info {
      flex-basis: 100%; /* Make both divs take full width */
    }
  
    .bulk-info {
      padding: 20px; /* Adjust padding for spacing */
    }
  
    .bulk-info p {
      font-size: 16px; /* Adjust font size for smaller screens */
    }
  
    .bulk-info .bulkreq {
      font-size: 24px; /* Adjust font size for smaller screens */
    }
  
    .bulk-info .btn {
      padding: 8px 16px; /* Adjust button padding for smaller screens */
      font-size: 14px; /* Adjust button font size for smaller screens */
    }
  }
  
  /* Rest of your existing CSS code */
  