.bulk {
    display: flex;
    width: 100%;
}

.bulk-pic img{
    width: 100%;
    height: auto;
}

.bulk-pic, .bulk-info {
    flex-basis: 50%;
    box-sizing: border-box;
}

.bulk-info {
    color: white;
    background-color: rgba(161, 97, 0, 0.651);
    padding: 20px;
}
.bulk-info .bulkice{
    padding: 10px;
    font-weight: 700;
    font-size: larger;
}
.bulk-info .btn{
    color: black;
    background-color: white;
    padding: 10px;

}