.Footer{
    display: flex;
    height: 100%;
}

.l {
    flex: 0.7;
    background-color: rgb(65, 65, 65);
}


.r {
    flex: 0.3;
    background-color: rgb(60, 60, 60);
}

/* footer.css */
.r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .r ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .r li {
    display: flex;
    align-items: center;
  }
  
  .r li svg {
    margin-right: 5px; /* Adjust the space between the icon and text */
  }
  