.home {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 70px;
}

.home-pic img {
  width: 100%;
  height: auto;
}

.home-pic,
.home-info {
  /* background-color: rgb(0, 91, 0); */
  background-color: rgb(146, 40, 40);
  flex-basis: 50%;
  box-sizing: border-box;
}

.home-info {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-info .heading {
  font-size: xx-large;
}

.home-info .combo-details {
  font-size: x-large;
}

.home-info .headingPrice {
  font-weight: 600;
  font-size: xx-large;
}

.home-info .headingPrice span {
  text-decoration: line-through;
  font-weight: 400;
  font-size: x-large;
}

.home-info .btn-cont {
  display: flex;
  gap: 20px;
}
.home-info .btn {
  background-color: transparent;
  border: solid 1px white;
  padding: 18px 40px;
}

.home-info .btn:hover {
  background-color: white;
  color: black;
}


/* For screens up to 768px width (adjust as needed) */
@media (max-width: 768px) {
  .home {
    flex-direction: column; /* Stack the divs vertically */
    padding-top: 20px; /* Adjust the padding for spacing */
  }
  
  .home-pic,
  .home-info {
    flex-basis: 100%; /* Make both divs take full width */
  }
  
  .home-info {
    margin-top: -30%;
    padding: 20px; /* Adjust the padding for spacing */
  }
  
  .home-info .btn {
    font-size: 16px;
    padding: 10px;
    margin: 0;
  }

  .home-info .heading {
    font-size: 26px;
  }
  
  .home-info .combo-details {
    font-size: 20px;
  }
  
  .home-info .headingPrice {
    font-size: 28px;
  }

  .home-info .disc-combo {
    font-size: 14px;
  }
  
  .home-info .headingPrice span {
    font-size: 20px;
  }
}
