.home {
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 70px;
}

.home-pic img{
    width: 100%;
    height: auto;
}

.home-pic, .home-info {
    background-color: rgb(40, 40, 40);
    /* background-color: rgb(53, 53, 53); */
    flex-basis: 50%;
    box-sizing: border-box;
}

.home-info {
    padding: 20px;
}
.home-info .homeice{
    padding: 10px;
    font-weight: 700;
    font-size: larger;
}
.home-info .btn{
    color: black;
    background-color: white;
    padding: 10px;

}