.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    color: black;
}

.left {
    float: left;
}

.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    padding-left: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 50px;
}

.right {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right li {
    margin: 0 20px;
    font-size: larger;
}

.right a {
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    background-color: black;
    color:white;
    font-size: medium;
}
