.pr1 {
    display: flex;
    width: 100%;
}

.pr1-pic img{
    width: 100%;
    height: auto;
}

.pr1-pic, .pr1-info {
    flex-basis: 50%;
    box-sizing: border-box;
}

.pr1-info {
    color: black;
    background-color: white;
    padding: 20px;
}
.pr1-info .pr1ice{
    padding: 10px;
    font-weight: 700;
    font-size: larger;
}
.pr1-info .btn{
    color: black;
    background-color: white;
    padding: 10px;

}