.pr2 {
    display: flex;
    width: 100%;
}

.pr2-pic img{
    width: 100%;
    height: auto;
}

.pr2-pic, .pr2-info {
    flex-basis: 50%;
    box-sizing: border-box;
}

.pr2-info {
    color: white;
    background-color: black;
    padding: 20px;
}
.pr2-info .pr2ice{
    padding: 10px;
    font-weight: 700;
    font-size: larger;
}
.pr2-info .btn{
    color: black;
    background-color: white;
    padding: 10px;

}